h2, h5 {
    font-family: 'Lora', Palatino, serif;

}

p, a {
    font-family: 'Raleway', Verdana, sans-serif;
}

.form-group {
    font-family: 'Raleway', Verdana, sans-serif;
}

.form-group input {
    border-radius: 10px;
}

#FormControlTextarea {
    border-radius: 10px;
}

.container-stuff {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #F0F7D4;

}

form {
    margin: 20px;
    width: 50%;
    margin-bottom: 100px;

}

.google-map{
    margin: 20px;
    width: 50%;
    margin-bottom: 100px;
}

h2 {
}

main {
    margin-bottom: 200px;

}

body{
    background-color: #F0F7D4;
}

img {
    border-radius: 30px;
}

.card {
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    height: 95%;

}

.card-content {
    padding: 1.4em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
}

.navbar {
    background-color: #5EA12D;
}

.navbar-nav a {
    color: #F0F7D4;
}

.navbar-nav a:active, a:hover {
    color: #347B98;
}

div.jumbotron {
    background-color: #E5F2B4;
}

div.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #092834;
    margin: 30px auto 0 auto;
    color: #B2D732;
}

.btn-primary {
}

div.copyright {
    margin: 30px 0 0 20px;
    color: #B2D732;
}

div.footer-iconic {
    color: #B2D732;
}

.iconic-md {
    fill: #F0F7D4;
}

.iconic-md:hover {
    fill: #B2D732;
}

